<div class="container">
  @if (showToast()) {
  <div class="toast success">
    ✅ Category saved successfully!
  </div>
  }

  <div class="card">
    <h3>Add New Expense</h3>
    <form [formGroup]="expenseForm" (ngSubmit)="onSubmit()">
      <div class="form-grid">
        <div class="form-group">
          <label>Description</label>
          <input type="text" formControlName="description" placeholder="Lunch, Rent, etc.">
        </div>

        <div class="form-group">
          <label>Amount</label>
          <input type="number" formControlName="amount" placeholder="0.00">
        </div>

        <div class="form-group">
          <label>Date</label>
          <input type="date" formControlName="date">
        </div>

        <div class="form-group">
          <label>Category</label>
          <select formControlName="categoryId">
            <option [value]="null" disabled>Select a category</option>
            @for (cat of categoryService.categories(); track cat.id) {
            <option [value]="cat.id">{{ cat.name }}</option>
            }
          </select>
        </div>
      </div>

      <button type="submit" [disabled]="expenseForm.invalid || showToast()" class="btn-submit">
        @if (showToast()) { Adding... } @else { Save Expense }
      </button>
    </form>
  </div>
</div>